version: '3.9'

services:
    postgres:
        image: postgres:16
        container_name: payload-postgres
        restart: unless-stopped
        ports:
            - '5432:5432'
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: 12345
            POSTGRES_DB: payload-test-project
        volumes:
            - postgres_data:/var/lib/postgresql/data

volumes:
    postgres_data:
